body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 150px;
    font-size: 10vmin;
    font-weight: 300;
    text-align: center;
    background-color: rgb(227, 227, 227);
    user-select: none;
}

.namesdiv {
    background-color: white;
}

.missing {
    padding: 170px 0 100px 0;
}

.name {
    position: absolute;
}

.name:hover {
    cursor: default;
}

#hey {
    position: absolute;
    left: 20vmin;
}

#filler {
    position: absolute;
    color: rgb(227, 227, 227);
    background-color: rgb(227, 227, 227);
    z-index: 2;
}

#upperHiding {
    position: relative;
    background-color: red;
    width: 50vmin;
    height: 15vmin;
    z-index: 5;
    /* top: 17vmin; */
}

#lowerHiding {
    position: relative;
    background-color: black;
    width: 50vmin;
    height: 25vmin;
    top: 12vmin;
    z-index: 5;
}