body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 150px;
    font-size: 10vmin;
    font-weight: 300;
    text-align: center;
    background-color: rgb(227, 227, 227);
}

.namesdiv {
    background-color: white;
}

.missing {
    padding: 170px 0 100px 0;
}

.name {
    position: absolute;
}

