body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 150px;
    font-size: 10vmin;
    font-weight: 300;
    text-align: center;
    background-color: rgb(227, 227, 227);
    user-select: none;
}

.missing {
    padding: 170px 0 100px 0;
    z-index: 7;
}

.name {
    position: absolute;
}

#namesSection {
    background-color: black;
    position: absolute;
    right: 55vmin;
}

#hey {
    position: absolute;
    left: 20vmin;
}

#filler {
    position: absolute;
    color: rgb(227, 227, 227);
    background-color: rgb(227, 227, 227);
    z-index: 2;
}

#upperHiding {
    position: absolute;
    background-color: rgb(227, 227, 227);
    /* background-color: blue; */
    width: 50vmin;
    height: 12vmin;
    z-index: 5;
    top: -13vmin;
    border-bottom: 2px groove black;
}

#lowerHiding {
    position: absolute;
    background-color: rgb(227, 227, 227);
    padding: auto;
    /* background-color: blue; */
    width: 50vmin;
    height: 25vmin;
    top: 12vmin;
    z-index: 5;
    border-top: 2px groove black;
    font-size: 5vmin;
    font-style: italic;
}

#imagediv {
    display: flex;
    margin: 20vmin auto;
    height: 60vmin;
    width: 60vmin;
    background-color: rgb(205, 205, 205);
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
}

#image {
    background-image: url('images/firstdate.jpeg');
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 10%;
    background-position: center center;
}